body{
	direction:rtl;
	text-align:right;
	font-family:Tahoma;
}

#error{
	width:400px;
	height:100px;
	color:#E64D6B;
	background-color:gray;
}

#success{
	width:400px;
	height:100px;
	color:#3CF774;
	background-color:gray;
}